@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles for the timeline */
.timeline-container {
  max-width: 1000px;
  margin: auto;
}
.category-label {
  display: inline-block;
  background-color: #f0f0f0; /* Light grey color */
  color: #333; /* Text color */
  padding: 0.5rem;
  border-radius: 0.25rem; /* Adds rounded corners */
  margin-right: 0.5rem; /* Adjust margin as needed */
  font-size: 0.875rem; /* Adjust font size as needed */
}


.comment-text {
  margin-top: 5px;
  color: #555;
  padding: 10px; /* Adding padding for better visual appearance */
  border: 1px solid #ddd; /* Adding a 1px solid border with a light gray color */
  border-radius: 5px; /* Adding border-radius for rounded corners */
}